/*BACKGROUND COLOR: #E0EBE8*/
/*FONT COLOR: #45b29a*/
@font-face {
	font-family: 'Floresant';
	src: url(../fonts/Florsn02.ttf);
}

@font-face {
	font-family: 'LemonMilk';
	src: url(../fonts/LemonMilk.otf);
}

@font-face {
	font-family: 'Signika';
	src: url(../fonts/Signika-Regular.otf);
}

@font-face {
	font-family: 'SignikaBold';
	src: url(../fonts/Signika-Bold.otf);
}


#bg_img{
	background-image: url("../microphone.png");
	height: 800px;
	background-size: contain;
}

body {
    font-family: 'Signika';
    overflow-x: hidden;
}

.page {
    overflow: hidden;
}

a:focus, a.hover,
input:focus,
select:focus {
	border: none;
	outline: 0;
	text-decoration: none;
}

/*Section Skew*/
section:before {
    content: "";
    width: 100%;
    height: 0;
    padding-bottom: 10%;
    margin-top: -7%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
 }


.workSection:before {
    -webkit-transform: skew(0deg,-3deg);
    transform: skew(0deg,-3deg);
    background: #2d343e;
}

.cont{
	padding-top: 150px;
}

#testimonialsSection:before {
    -webkit-transform: skew(0deg,-3deg);
    transform: skew(0deg,-3deg);
    background: #2d343e;
}

.workSectionA:before {
    -webkit-transform: skew(0deg,-3deg);
    transform: skew(0deg,-3deg);
    background: #E0EBE8;
}

#clients:before {
    -webkit-transform: skew(0deg,-3deg);
    transform: skew(0deg,-3deg);
    background: #E0EBE8;
}

#aboutMeSection:before {
    -webkit-transform: skew(0deg,-3deg);
    transform: skew(0deg,-3deg);
    background: #E0EBE8;
}

#contactSection:before {
	-webkit-transform: skew(0deg,-3deg);
	transform: skew(0deg,-3deg);
	background: #2d343e;
}

.workSection, .workSectionA, #testimonialsSection, #contactSection, #aboutMeSection, #clients{
	width: 100%;
	padding-bottom: 90px;
	z-index: 200;
}

.test{
	margin-bottom: 150px;
}

.menuItem{
	/*margin: 0px 25px 10px 20px;*/
	display: inline-block;
	float: left;
	font-family: "SignikaBold";
}

.menuItem a{
	display: inline-block;
    text-decoration: none;
    color: #45b29a;
    margin: 0 0 0 1em;
    font-size: 120%;
}

.nav-list{
	float: right;
	padding-top: 10px;
}
/*BODY*/

body {
	/*font-family: 'Josefin Sans', sans-serif;*/
	font-family: 'Signika', sans-serif
	color: #545454;
    background-color: #fff;
}
/*HEADER*/
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	background-color: #E0EBE8;
	z-index: 500;
	padding: 15px 0;
	border-bottom: 1px solid #dadada;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

/*SECTIONS*/
.topName p, .topName{
	font-family: 'LemonMilk';
	color: #45b29a;
	font-size: 30px;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	
}

a:hover, a p:hover{
	text-decoration: none;
	color: #21564b;
}

.logo{
	width: 150px;
	display: flex;
}

.logoGroup{
	padding-bottom: 50px;
}

.anchor{
	display: block;
	height: 70px; /*same height as header*/
	margin-top: -70px; /*same height as header*/
	visibility: hidden;
}

.lightSection{
	background-color: #E0EBE8;
	position: relative;
}

.darkSection{
	background-color: #2d343e;
	position: relative;
	color: white;
}

#name{
	position: absolute;
	top: 50%;
	font-family: 'LemonMilk';
	-webkit-animation-duration: 0.7s;
	/*-webkit-animation-delay: 1s;*/
	/*-webkit-animation-iteration-count: infinite;*/
}

#picture{
	-webkit-animation-duration: 1s;
	/*-webkit-animation-delay: 1s;*/
	/*-webkit-animation-iteration-count: infinite;*/
}

#occupation{
	font-family: "Signika";
	position: absolute;
	top: 60%;
	text-indent: 50px
	opacity: 0;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 0.3s;
	/*-webkit-animation-iteration-count: infinite;*/
}

.videof{

  -webkit-transform: scaleX(0.75); 
  -moz-transform: scaleX(1);

}

#name p, #occupation p{
	margin: 0px 0px 0px 40px;

}

#top{
	background-image: url(../img/panel.png);
	/*height: 0;*/
	background-repeat:no-repeat;
   	background-size: cover;
 	/*padding-top: 66.64%;*/
 	position: relative;
 	height: 835px;
 	width: auto;

}

#aboutMeSection{
	width: 100%;
	padding: 50px 0px 150px 0px;
	/*height: 100vh;*/
	z-index: 200;
}

.title{
	font-family: 'Signika';
	color: #45b29a;
	padding: 0px 0px 0px 0px;
	text-align: left;
	z-index: 500;
}

.vLine{
	padding-right: 10px;
	color: white;
}

.video, .audio{
	padding-bottom: 50px;
}

#moreButton, .submit{
	float:none;
	position: relative;
    display:inline-block;
    text-align:center;
    font-family: 'LemonMilk';
    background-color: #45b29a;
    color: white;
    margin-bottom: 100px
}

#moreButton:hover{
	color: #21564b;
}

#moreButtonParent{
    padding: 50px 0px 20px 0px;
}

.space{
	margin-top: 80px;
}

p.social {
    margin-bottom: 20px;
}


p.contact {
    margin: 10px 0px 10px 0px;
    font-family: 'Signika';
}

.aboutText{
	font-size: 16px;
    margin-bottom: 100px;
}

.author{
	color: white;
}

.testimonial{
	font-family: 'Signika';
	/*text-align: left;*/
}

footer {
	background-color: #2d343e;
	color: white;
	font
}

footer .reserved {
    font-size: 12px !important;
    margin-top: 20px;
    float: left;
    font-family: 'Signika'
}

/*Carousel*/

.carousel-control.right, .carousel-control.left{
	background-image: none; 
}

.carousel-inner{
	padding: 0px 40px 0px 40px;
}

.carousel{
    background: transparent;
    height: 100%;
    margin: 80px 0px 80px 0px;
}
.carousel-caption{
    position:static;
    width: 100%;
}

.quotes{
	padding: 0px 5px 0px 5px;
}



/*TEXT PROPERTIES*/
.font50{
	font-size: 50px;
	width: auto;
}

.font30{
	font-size: 30px;
	width: auto;
}

.font40{
	font-size: 40px;
	width: auto;
}

.font20{
	font-size: 20px;
	width: auto;
}

.font10{
	font-size: 10px;
	width: auto;
}

.white{
	color: white;
}

.blackBG{
	background-color: black;
}

.textItalic{
	font-style: italic; /*TODO: Cambiar a font family italic*/
}

.middle{
	left: 50%;
}

.textCenter {
    text-align: center;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #45b29a;
    margin: 1em 0;
    padding: 0;

}

.error{
	display: none;
}

.logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 30px
}



/*MEDIA QUERYS*/

@media (max-width: 992px){
	.menu-links {
	    font-size: 14px !important;
	}

	.nav-list{
		float: none;
		text-align: center;
	}

	#top{
		height: 700px;
	}

	#name p{
		font-size: 25px;
	}

	#name{
		top: 40%;
	}

	#occupation{
		top: 50%;
	}

	#occupation p{
		font-size: 20px;
	}

	.testimonial{
		font-size: 20px;
	}

	.quotes{
		width: 8%;
	}

	.author{
		font-size: 15px;
	}

	.title{
		font-size: 30px;
	}

	.logo{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    padding-bottom: 30px;
	    padding-top: 30px
	}

	#contactInfo{
	    font-size: 20px;
	}

	footer .reserved {
	    font-size: 20px;
	}

}

/* Small Devices, Tablets */
@media (min-width : 768px) {

	.topName p{
		font-size: 30px;
		float: left;
	}

	.menu-links {
	    font-size: 15px !important;
	}

	.nav-list{
		float: right;
	}

	.logo{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    padding-bottom: 30px;
	    padding-top: 30px
	}

	#contactInfo{
	    font-size: 15px;
	}

	footer .reserved {
	    font-size: 20px;
	}
}

@media (max-width : 320px) {
    .topName p{
		display: none;
	}

	.menu-links{
		float: none;
	}

	#name p{
		font-size: 20px;
	}

	#name{
		top: 50%;
	}

	#occupation{
		top: 55%;
	}

	#occupation p{
		font-size: 15px;
	}

	.cont{
		padding-top: 30px;
	}

	.logo{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    padding-bottom: 30px;
	    padding-top: 30px
	}
}
