/*BACKGROUND COLOR: #E0EBE8*/
/*FONT COLOR: #45b29a*/
/*DARK COLOR: #2d343e*/

@font-face {
    font-family: 'Floresant';
    src: url(../fonts/Florsn02.ttf);
}

@font-face {
    font-family: 'LemonMilk';
    src: url(../fonts/LemonMilk.otf);
}

@font-face {
    font-family: 'Signika';
    src: url(../fonts/Signika-Regular.otf);
}

@font-face {
    font-family: 'SignikaBold';
    src: url(../fonts/Signika-Bold.otf);
}

#bg_img {
    background-image: url("../microphone.png");
    height: 800px;
    background-size: contain;
}

body {
    font-family: 'Signika';
    overflow-x: hidden;
}

.page {
    overflow: hidden;
}

a:focus,
a.hover,
input:focus,
select:focus {
    border: none;
    outline: 0;
    text-decoration: none;
}


/*Section Skew*/

section:before {
    content: "";
    width: 100%;
    height: 0;
    padding-bottom: 10%;
    margin-top: -7%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.workSection:before {
    -webkit-transform: skew(0deg, -3deg);
    transform: skew(0deg, -3deg);
    background: #2d343e;
}

.cont {
    padding-top: 150px;
}

#testimonialsSection:before {
    -webkit-transform: skew(0deg, -3deg);
    transform: skew(0deg, -3deg);
    background: #2d343e;
}

.workSectionA:before {
    -webkit-transform: skew(0deg, -3deg);
    transform: skew(0deg, -3deg);
    background: #E0EBE8;
}

#clients:before {
    -webkit-transform: skew(0deg, -3deg);
    transform: skew(0deg, -3deg);
    background: #E0EBE8;
}

#aboutMeSection:before {
    -webkit-transform: skew(0deg, -3deg);
    transform: skew(0deg, -3deg);
    background: #E0EBE8;
}

#contactSection:before {
    -webkit-transform: skew(0deg, -3deg);
    transform: skew(0deg, -3deg);
    background: #2d343e;
}

.workSection,
.workSectionA,
#testimonialsSection,
#contactSection,
#aboutMeSection,
#clients {
    width: 100%;
    padding-bottom: 90px;
    z-index: 200;
}

.test {
    margin-bottom: 150px;
}

.menuItem {
    /*margin: 0px 25px 10px 20px;*/
    display: inline-block;
    float: left;
    font-family: "SignikaBold";
}

.menuItem a {
    display: inline-block;
    text-decoration: none;
    color: #45b29a;
    margin: 0 0 0 1em;
    font-size: 120%;
}

.nav-list {
    float: right;
    padding-top: 10px;
}



/*BODY*/

body {
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Signika', sans-serif color: #545454;
    background-color: #fff;
}


/*HEADER*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: #E0EBE8;
    z-index: 500;
    padding: 8px 0;
    border-bottom: 1px solid #dadada;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}


/*SECTIONS*/

.topName p,
.topName {
    font-family: 'LemonMilk';
    color: #45b29a;
    font-size: 30px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
}

a:hover,
a p:hover {
    text-decoration: none;
    color: #21564b;
}

.logo {
    width: 150px;
    display: flex;
}

.logoGroup {
    padding-bottom: 50px;
}

.anchor {
    display: block;
    height: 70px;
    /*same height as header*/
    margin-top: -70px;
    /*same height as header*/
    visibility: hidden;
}

.lightSection {
    background-color: #E0EBE8;
    position: relative;
}

.darkSection {
    background-color: #2d343e;
    position: relative;
    color: white;
}

#name {
    position: absolute;
    top: 50%;
    font-family: 'LemonMilk';
    -webkit-animation-duration: 0.7s;
    /*-webkit-animation-delay: 1s;*/
    /*-webkit-animation-iteration-count: infinite;*/
}

#picture {
    -webkit-animation-duration: 1s;
    /*-webkit-animation-delay: 1s;*/
    /*-webkit-animation-iteration-count: infinite;*/
}

.circular {
    width: 100%;
    height: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: url(../img/photo.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    -webkit-animation-duration: 1s;
}

.abilities{
	padding-top: 10px; 
}

#occupation {
    font-family: "Signika";
    position: absolute;
    top: 60%;
    text-indent: 50px opacity: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0.3s;
    /*-webkit-animation-iteration-count: infinite;*/
}

.videof {
    -webkit-transform: scaleX(0.75);
    -moz-transform: scaleX(1);
}

#name p,
#occupation p {
    margin: 0px 0px 0px 40px;
}

#top {
    background-image: url(../img/panel.png);
    /*height: 0;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*padding-top: 66.64%;*/
    position: relative;
    height: 835px;
    width: auto;
}

#aboutMeSection {
    width: 100%;
    padding: 0px 0px 10px 0px;
    height: auto;
    z-index: 200;
}

.title {
    font-family: 'Signika';
    color: #45b29a;
    padding: 0px 0px 0px 0px;
    text-align: left;
    z-index: 500;
}

.vLine {
    padding-right: 10px;
    color: white;
}

.video,
.audio {
    padding-bottom: 50px;
}

#moreButton,
.submit {
    float: none;
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: 'LemonMilk';
    background-color: #45b29a;
    color: white;
    /*margin-bottom: 100px;*/
}

#moreButton:hover {
    color: #21564b;
}

#moreButtonParent {
    padding: 50px 0px 30px 0px;
}

.space {
    margin-top: 80px;
}

p.social {
    margin-bottom: 20px;
}

p.contact {
    margin: 10px 0px 10px 0px;
    font-family: 'Signika';
}

.aboutText {
    font-size: 16px;
    /*margin-bottom: 100px;*/
}

.aboutWrapper{
	padding-left: 30px;
    margin-bottom: 50px;
}

.author {
    color: white;
}

.testimonial {
    font-family: 'Signika';
    /*text-align: left;*/
}

footer {
    background-color: #2d343e !important;
    color: white;
    font
}

footer .reserved {
    font-size: 12px !important;
    margin-top: 20px;
    float: left;
    font-family: 'Signika'
}

iframe {
	width: 420px;
	height: 315px;
}

/*Carousel*/

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel-inner {
    padding: 0px 40px 0px 40px;
    height: 220px;
}

.carousel {
    background: transparent;
    height: 100%;
    margin: 80px 0px 80px 0px;
}

.carousel-caption {
    position: static;
    width: 100%;
}

.quotes {
    padding: 0px 5px 0px 5px;
}

.hiTitle{
	text-align: center;
}

article {
	margin-right: 10px;
}


/*TEXT PROPERTIES*/

.font50 {
    font-size: 50px;
    width: auto;
}

.font30 {
    font-size: 30px;
    width: auto;
}

.font40 {
    font-size: 40px;
    width: auto;
}

.font20 {
    font-size: 20px;
    width: auto;
}

.font10 {
    font-size: 10px;
    width: auto;
}

.white {
    color: white;
}

.blackBG {
    background-color: black;
}

.textItalic {
    font-style: italic;
    /*TODO: Cambiar a font family italic*/
}

.middle {
    left: 50%;
}

.textCenter {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #45b29a;
    margin: 1em 0;
    padding: 0;
}

.error {
    display: none;
}

.active {
    color: #ff0000;
    text-decoration: none;
}

.logo {
    display: block;
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 30px
}






.content {
    display: none;
}

.expander {
    font-size: 20px;
    color: #2d343e;
    text-decoration: none;
    display: block;
	text-align: center;
}

.expander:visited{
	color: #2d343e;
}





.toggle-nav {
    display:none;
}
 
/*----- Menu -----*/
 
.menu ul {
    /*display:inline-block;*/
}
 
.menu li {
    margin:0px 20px 0px 0px;
    float:left;
    list-style:none;
    font-size:17px;
}
 
.menu li:last-child {
    margin-right:0px;
}
 
.menu a {
    transition:color linear 0.15s;
}

.aboutContainer{
	height: 700px;
}
 




/*MEDIA QUERYS*/
@media screen and (max-width: 1200px) {
    .wrap {
        width:90%;
    }

    .menu li{
	    margin: 0px 20px 0px 0px;
    }

    .menuItem a {
	    display: inline-block;
	    text-decoration: none;
	    color: #45b29a;
	    margin: 0 0 0 1em;
	    font-size: 17px;
	}
}

@media screen and (max-width: 992px) {
    .menu-links {
        font-size: 14px !important;
    }
    .nav-list {
        float: none;
        text-align: center;
    }
    .menu ul {
	    display: inline-block;
	}
    .topName{
		float: right;
    }
    #top {
		height: 700px;
    }
    #name p {
        font-size: 40px;
    }
    #name {
        top: 40%;
	    height: 9%;
	    width: 80%;
    }
    #occupation {
        top: 50%;
        height: 5%;
	    width: 60%;
    }
    #occupation p {
        font-size: 25px;
    }
    .testimonial {
        font-size: 20px;
    }
    .quotes {
        width: 5%;
    }
    .author {
        font-size: 15px;
    }
    .title {
        font-size: 30px;
    }
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        padding-top: 30px
    }
    #contactInfo {
        font-size: 20px;
    }
    footer .reserved {
        font-size: 20px;
    }
    .circular{
		width: 200px;
    	height: 200px;
	    margin-top: 70px;
	}
	.abilities{
		font-size: 12px;
		margin-top: 40px;
	}
}




@media screen and (max-width: 860px) {
    .menu {
        position:relative;
        display:inline-block;
        float: left;
    }
 
    .menu ul.active {
        display:none;
    }
 
    .menu ul {
        width: auto;
        position:absolute;
        top:120%;
        left:2px;
        padding:10px 15px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background: #E0EBE8;
    }

    .littleName{
    	margin-top: 10px;
    	font-size: 18px;
    	font-family: 'LemonMilk';
	    color: #45b29a;
	    margin: 10px 10px 0px 0px;
	    text-decoration: none;
	    float: right;
    }
 
    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #E0EBE8;
    }
 
    .menu li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }
 
    .menu a {
        display:block;
    }
 
    .toggle-nav {
        padding: 10px 10px 10px 25px;
        float:left;
        display:inline-block;
        font-size:20px;
        color: #45b29a;
        transition:color linear 0.15s;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }

	.circular {
	    width: 250px;
	    height: 250px;
	    margin-top: 0px;

	}

}


@media screen and (max-width: 480px) {
	.menu{
		float: left;
	}

	.littleName{
		float: right;
	}

	.circular{
		/*width: 240px;*/
    	height: 240px;
	}

	.abilities{
		font-size: 12px;
		margin-top: 70px;
	}

	#name p {
		font-size: 30px;
	}

	#name {
		width: 100%;
		height: 6%;
	}

	#occupation {
	    width: 70%; 
	}

	#occupation p {
		font-size: 25px;
	}

}

@media screen and (max-width: 360px) {
	.circular{
	    height: 230px !important;
	    width: 230px !important;
    }
	#top{
		position-x: 50%; 
	    height: 480px;
	    background-position: center;
	}

    .topName p{
		font-size: 15px;
	}
    #top-nav {
        float: left;
        /*margin-right: 20px;*/
    }
    /*.menu-links {
        float: right;
    }*/
    .menu-links .glyphicon {
        font-size: 20px;
    }
    #name p {
        font-size: 20px;
    }
    #name {
        top: 50%;
    	width: 100%;
        height: auto;
    }
    #occupation {
        top: 57%;
        height: auto;
        width: auto;
    }
    #occupation p {
        font-size: 15px;
    }
    .cont {
        padding-top: 30px;
    }
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        padding-top: 30px
    }

    iframe{
    	width: 290px;
    	height: 190px;
    }

    .testimonial {
	    font-size: 15px;
	}

	.carousel-inner {
		height: 300px;
	}

}

/* Small Devices, Tablets */

/*@media (min-width: 768px) {
    .topName p {
        font-size: 30px;
        float: left;
    }
    .menu-links {
        font-size: 15px !important;
    }
    .nav-list {
        float: right;
    }
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        padding-top: 30px
    }
    #contactInfo {
        font-size: 15px;
    }
    footer .reserved {
        font-size: 20px;
    }
}
*/
