/*BACKGROUND COLOR: #E0EBE8*/
/*FONT COLOR: #45b29a*/
@font-face {
	font-family: 'Floresant';
	src: url(../fonts/Florsn02.ttf);
}

@font-face {
	font-family: 'LemonMilk';
	src: url(../fonts/LemonMilk.otf);
}


#bg_img{
	background-image: url("../microphone.png");
	height: 800px;
	background-size: contain;
}

a:focus, a.hover,
input:focus,
select:focus {
	border: none;
	outline: 0;
}

.menuItem{
	margin: 0 35px 10px 50px;
	display: inline-block;
	float: left;
	font-weight: bold;
}

.menuItem a{
	display: inline-block;
    text-decoration: none;
    color: #45b29a;
    font-weight: 400;
    margin: 0 0 0 1em;
    font-size: 120%;
}

.nav-list{
	float: right;
	padding-top: 10px;
}
/*BODY*/

body {
	/*font-family: 'Josefin Sans', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif
	color: #545454;
    background-color: #fff;
}
/*HEADER*/
header {
	/*position: fixed;*/
	top: 0;
	width: 100%;
	background-color: #E0EBE8;
	z-index: 90;
	padding: 15px 0;
	border-bottom: 1px solid #dadada;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

/*SECTIONS*/
.topName p, .topName{
	font-family: 'LemonMilk';
	color: #45b29a;
	font-size: 30px;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}


a:hover, a p:hover{
	text-decoration: none;
	color: #21564b;
}

.lightSection{
	background-color: #E0EBE8;
	position: relative;
}

#name{
	position: absolute;
	top: 50%;
	font-family: 'LemonMilk';
}

#occupation{
	position: absolute;
	top: 65%;
	text-indent: 50px
}


#name p, #occupation p{
	margin: 0px 0px 0px 40px;

}

#top{
	background-image: url(../img/panel.png);
	/*height: 0;*/
	background-repeat:no-repeat;
   	background-size: cover;
 	/*padding-top: 66.64%;*/
 	position: relative;
 	height: 835px;
 	width: auto;

}

#aboutMeSection{
	width: 100%;
	padding-top: 20px;
}


/*TEXT PROPERTIES*/
.font60{
	font-size: 60px;
	width: auto;
}

.font30{
	font-size: 30px;
	width: auto;
}

.white{
	color: white;
}

.blackBG{
	background-color: black;
}

.textItalic{
	font-style: italic; /*TODO: Cambiar a font family italic*/
}

.middle{
	left: 50%;
}